/*start of global rules*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-size: $bodysize;
  font-family: $bodyFamily;
}
@include head {
  font-family: $headingFamily;
}
a,
button {
  transition: all 0.5s ease;
}
button {
  border: none;
  background: none;
  outline: none;
}
/*end of global rules*/
