//declar variables
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyangraphictext: hsl(167, 40%, 24%);
$bluephototext: hsl(198, 62%, 26%);
$cyanfooter: hsl(168, 34%, 41%);
$vddeblue: hsl(212, 27%, 19%);
$vdgrblue: hsl(213, 9%, 39%);
$dgrblue: hsl(232, 10%, 55%);
$grblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// body size
$bodysize: 18px;
$bodyFamily: "Barlow", sans-serif;
$headingFamily: "Fraunces", serif;
